scrapy
flake8
black
isort
pre-commit
scrapyd
scrapyd-client
pymongo[ocsp]>=4.9.0
certifi
fastapi
uvicorn
pydantic
pydantic_settings
motor
Pillow
line-bot-sdk
google-cloud-storage
google-cloud-pubsub>=2.19.0
pyOpenSSL>=17.2.0
service_identity>=18.1.0
cryptography>=2.5

# for local development
ngrok
loguru

# for testing
pytest
pytest-asyncio
pytest-cov
pytest-mock
httpx
