scrapy
pymongo
google-cloud-pubsub  # Only needed if using Pub/Sub
google-cloud-logging  # Only needed if using Pub/Sub
google-cloud-storage  # For storing images in GCS
Pillow  # For image processing
pydantic
pydantic-settings
line-bot-sdk

# Optional development dependencies
pytest
pytest-asyncio
pytest-cov
pytest-mock
python-dotenv
